



// Container
.bitmovinplayer-ad-container, .bitmovinplayer-container {
	background-color: $containerColor !important;
}




.bmpui-ui-skin-modern {
	color: $fontColor; 
	font-family: $fontFamily;




	// Movie Title & Desc
	.bmpui-ui-titlebar {
		background: linear-gradient(to top, transparent, $bufferOverlayColor);
		top: unset;
		bottom: 12%;
		background: none;

		> .bmpui-container-wrapper {
			@media (max-width: 800px) { display: none; }
			@media (max-width: 1000px) { bottom: 4em; }
			@media (min-width: 1900px) { bottom: 9em; }

			.bmpui-label-metadata-title {
				color: $fontColor;
				font-family: $fontFamilyHeader;
				text-shadow: 1px 1px 1px black;
				font-size: 2em;
				font-weight: bold;
				@media (max-width: 1000px) { font-size: 1.5em; }
			}

			.bmpui-label-metadata-description {
				color: $fontColor;
				font-family: $fontFamily;
				text-shadow: 1px 1px 1px black;
				font-size: 1em;
				font-weight: bold;
				max-width: 60%;
				@media (max-width: 1000px) { font-size: .9em; }
			}
		}
	}

	


	// Movie Seekbar
	.bmpui-ui-seekbar .bmpui-seekbar { 

		.bmpui-seekbar-bufferlevel {
			background-color: $seekingBuffered;
		}

		.bmpui-seekbar-backdrop {
			background-color: $seekingLine;
		}

		.bmpui-seekbar-playbackposition {
			background-color: $currentSeekPosition;
		}
	
		.bmpui-seekbar-markers > .bmpui-seekbar-marker {
			border-right: 2px solid $marker;
		}

	}


	// Chapter Button
	.bmpui-ui-chaptertogglebutton {
		background-color: transparent;
		background-position: center;
		background-repeat: no-repeat;
		border: 0;
		cursor: pointer;
		font-size: 1em;
		height: 1.5em;
		min-width: 1.5em;
		padding: 0;
		outline: 0;

		> span {
			display: none;
		}
	}




	// Settings panel arrow
	.bmpui-ui-settings-panel::after {
		left: 52%;
	}



	// Chapter Label
  .bmpui-container-wrapper > .bmpui-chaptersPanel {
      // Chapter Container arrow
      &:after {
        left: -10%;
      }

      .bmpui-container-wrapper {
		  margin: 0;

			.bmpui-ui-settings-panel-item {
				border-bottom: none;
				padding: 0;
				margin: 0;

				.bmpui-chapterLabel {
					display: block !important;
					width: 100%;
					text-align: center;
					margin: 10px 0;
					cursor: pointer;

					&:last-child {
						padding-bottom: 35px;
					}

					&:hover .bmpui-label {
						color: $markerBorder;
					}

					.bmpui-label {
						color: darken($fontColor, 10%);
						display: block;
						font-size: .95em;
						border-bottom: 1px solid darken($fontColor, 60%);
						padding: 0 25px 8px 25px;

						&:hover {
							color: $markerBorder;
						}
					}
				}
			}
      }
  }




	// Sound Seekbar
	.bmpui-ui-volumeslider .bmpui-seekbar { 

		.bmpui-seekbar-playbackposition {
			background-color: $soundCurrentSeekColor;
		}

		.bmpui-seekbar-backdrop {
			background-color: $soundSeekingLine;
		}
	}




	// Watermark
	.bmpui-ui-watermark {
		background: right 5% / 100% 100% no-repeat url("../../flimmit/assets/img/logo.svg");
		margin: 0;
		top: 20px;
		left: 20px;
		width: 6em;
		height: 2em;
		pointer-events: none;
  		cursor: default;
  		opacity: .7;
	}




	// Overlays
	.bmpui-ui-controlbar {
		background: linear-gradient(to bottom, transparent, $controlbarBackground);
	}
	.bmpui-ui-buffering-overlay {
		background-color: $bufferOverlayColor;
	}




	// Settings
	.bmpui-ui-selectbox {
		color: $selectboxColor;
		/*-moz-appearance: none;
		-webkit-appearance:none;
		&::-ms-expand {
			display: none;
		}
		border-right: 3px solid lighten(rgba(17, 17, 17, 0.85), 50%);*/
	}




	// Movie Marker
	.bmpui-ui-seekbar-label {

		.bmpui-seekbar-label-inner {
			border-bottom: 0.2em solid $markerBorder;

			&::after {
				border-top-color: $markerBorder;
			}
		}

		.bmpui-seekbar-label-inner > .bmpui-container-wrapper .bmpui-seekbar-thumbnail {
			width: 12em;
		}
	}




}